/***
  Reset standard CI Widget Containers
*/
/* line 10, ../sass/CIDialog.scss */
.CIDialog .widgetContainer {
  width: 99%;
  min-width: inherit;
  margin: 2px;
}

/***
  Hide empty standard CI extension slots
*/
/* line 18, ../sass/CIDialog.scss */
.CIDialog .extension:empty {
  display: none;
  width: 0px;
}

/***
  Stretch form fields to the parents full width
*/
/* line 26, ../sass/CIDialog.scss */
.CIDialog .dijitTextBox {
  width: 90%;
  margin-bottom: 4px;
}

/* line 30, ../sass/CIDialog.scss */
.CIView .dijitTextBox {
  /*margin-bottom: 4px;*/
  width: auto;
  margin-right: 8px;
}

/* line 35, ../sass/CIDialog.scss */
.CIDialog .dijitSelect {
  margin-bottom: 4px;
  width: auto !important;
}

/* line 39, ../sass/CIDialog.scss */
.CIDialog .dijitCheckBox {
  /*margin-bottom: 4px;*/
}

/* line 42, ../sass/CIDialog.scss */
.CIView .dijitCheckBox {
  /*margin-bottom: 4px;*/
}

/* line 45, ../sass/CIDialog.scss */
.CIView .dijitSelect {
  margin-bottom: 4px;
  width: auto !important;
}

/* line 50, ../sass/CIDialog.scss */
.CIDialog .widgetTable {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 54, ../sass/CIDialog.scss */
.CIDialog .widgetValue {
  max-width: inherit;
  min-width: 50px !important;
}

/* line 58, ../sass/CIDialog.scss */
.CIView .simpleText {
  margin: 8px 4px;
  display: block;
}
