/* line 1, ../sass/dgrid.scss */
.grid-template .dgrid {
  width: 100%;
}

/* line 5, ../sass/dgrid.scss */
.ui-icon-triangle-1-se, .ui-icon-triangle-1-e {
  font-size: 120%;
}

/* line 9, ../sass/dgrid.scss */
.dgrid-expando-icon {
  width: 16px;
  font-family: FontAwesome;
  opacity: 0.5;
}

/* line 15, ../sass/dgrid.scss */
.itemFolderList, .grid-icon {
  opacity: 0.7;
}

/* line 19, ../sass/dgrid.scss */
.dgrid-expando-icon:after {
  content: '';
}

/* line 23, ../sass/dgrid.scss */
.wcLayout .dgrid-content {
  width: inherit !important;
}

/* line 27, ../sass/dgrid.scss */
.grid-header {
  height: auto;
  width: 100%;
  float: left;
  display: inline-block;
}

/* line 34, ../sass/dgrid.scss */
.grid-body {
  width: 100%;
}

/* line 38, ../sass/dgrid.scss */
.grid-table {
  width: 100%;
  height: 100%;
}

/* line 43, ../sass/dgrid.scss */
.dgrid {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: block;
}

/* line 50, ../sass/dgrid.scss */
.dgrid-header {
  background-color: #eee;
}

/* line 55, ../sass/dgrid.scss */
.dgrid-header-row {
  position: absolute;
  /*right: 13px;*/
  left: 0;
  top: 0;
}

/* line 62, ../sass/dgrid.scss */
.dgrid-header-scroll {
  position: absolute;
  top: 0;
  right: 0;
  /*height: 24px !important;*/
}

/* line 71, ../sass/dgrid.scss */
.dgrid-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 77, ../sass/dgrid.scss */
.dgrid-header-hidden {
  font-size: 0;
  height: 0 !important;
  border-top: none !important;
  border-bottom: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 88, ../sass/dgrid.scss */
.dgrid-footer-hidden {
  display: none;
}

/* line 92, ../sass/dgrid.scss */
.dgrid-sortable {
  cursor: pointer;
}

/* line 96, ../sass/dgrid.scss */
.dgrid-header,
.dgrid-header-row,
.dgrid-footer {
  overflow: hidden;
  background-color: transparent;
}

/* line 103, ../sass/dgrid.scss */
.dgrid-row-table {
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  empty-cells: show;
  width: 100%;
  height: 100%;
}

/* line 112, ../sass/dgrid.scss */
.dgrid-cell {
  padding: 4px;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
  border-right: 1px solid #ddd;
  border-top-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 124, ../sass/dgrid.scss */
.dgrid-content {
  position: relative;
  height: 99%;
}

/* line 129, ../sass/dgrid.scss */
.dgrid-scroller {
  overflow-x: auto;
  /*overflow-y: scroll;*/
  position: absolute;
  top: 0px;
  margin-top: 25px;
  bottom: 0px;
  width: 100%;
}

/* line 139, ../sass/dgrid.scss */
.dgrid-preload {
  font-size: 0;
  line-height: 0;
}

/* line 144, ../sass/dgrid.scss */
.dgrid-loading {
  position: relative;
  height: 100%;
}

/* line 149, ../sass/dgrid.scss */
.dgrid-above {
  position: absolute;
  bottom: 0;
}

/* line 155, ../sass/dgrid.scss */
.dgrid-sort-arrow {
  background-position: -64px -16px;
  display: block;
  float: right;
  margin: 0 4px 0 5px;
  height: 12px;
}

/* line 163, ../sass/dgrid.scss */
.dgrid-sort-up .dgrid-sort-arrow {
  background-position: 0px -16px;
}

/* line 168, ../sass/dgrid.scss */
.dgrid-input {
  width: 99%;
}

/* line 173, ../sass/dgrid.scss */
html.has-mozilla .dgrid-focus {
  outline-offset: -1px;
}

/* line 177, ../sass/dgrid.scss */
.dgrid-scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

/* line 185, ../sass/dgrid.scss */
.dgrid-autoheight {
  height: auto;
}

/* line 189, ../sass/dgrid.scss */
.dgrid-autoheight .dgrid-scroller {
  position: relative;
  overflow-y: hidden;
}

/* line 194, ../sass/dgrid.scss */
.dgrid-autoheight .dgrid-header-scroll {
  display: none;
}

/* line 198, ../sass/dgrid.scss */
.dgrid-autoheight .dgrid-header {
  right: 0;
}

/* line 202, ../sass/dgrid.scss */
.dgrid-column-set {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100%;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

/* line 211, ../sass/dgrid.scss */
.dgrid-column-set-cell {
  vertical-align: top;
  height: 100%;
}

/* line 216, ../sass/dgrid.scss */
.dgrid-column-set-scroller-container {
  font-size: 0;
  position: absolute;
  bottom: 0;
}

/* line 222, ../sass/dgrid.scss */
.dgrid-autoheight .dgrid-column-set-scroller-container {
  position: relative;
}

/* line 226, ../sass/dgrid.scss */
.dgrid-column-set-scroller {
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
}

/* line 232, ../sass/dgrid.scss */
.dgrid-column-set-scroller-content {
  height: 1px;
}

/* line 236, ../sass/dgrid.scss */
.ui-icon-triangle-1-e:before {
  content: "\f0da";
  width: auto;
  padding-left: 2px;
}

/* line 249, ../sass/dgrid.scss */
.ui-icon-triangle-1-se:before {
  content: "\f0d7";
  padding-left: 2px;
  width: auto;
}

/* line 257, ../sass/dgrid.scss */
.dgrid-tree-container {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
}

/* line 266, ../sass/dgrid.scss */
.dgrid-tree-container.dgrid-tree-resetting {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  -ms-transition-duration: 0;
  transition-duration: 0;
}

/* line 274, ../sass/dgrid.scss */
.dgrid-hider-toggle {
  background-position: 0 -192px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 284, ../sass/dgrid.scss */
.dgrid-rtl-swap .dgrid-hider-toggle {
  right: auto;
  left: 0;
}

/* line 289, ../sass/dgrid.scss */
.dgrid-hider-menu {
  position: absolute;
  top: 0;
  right: 17px;
  width: 184px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 99999;
  padding: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 302, ../sass/dgrid.scss */
.dgrid-rtl-swap .dgrid-hider-menu {
  right: auto;
  left: 17px;
}

/* line 307, ../sass/dgrid.scss */
.dgrid-hider-menu-row {
  position: relative;
  padding: 2px;
}

/* line 312, ../sass/dgrid.scss */
.dgrid-hider-menu-check {
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0;
}

/* line 319, ../sass/dgrid.scss */
.dgrid-hider-menu-label {
  display: block;
  padding-left: 20px;
}

/* line 324, ../sass/dgrid.scss */
.dgrid-header .dojoDndTarget .dgrid-cell {
  display: table-cell;
}

/* line 328, ../sass/dgrid.scss */
.dgrid-header .dojoDndItemBefore {
  border-left: 2px dotted #000 !important;
}

/* line 332, ../sass/dgrid.scss */
.dgrid-header .dojoDndItemAfter {
  border-right: 2px dotted #000 !important;
}

/* line 336, ../sass/dgrid.scss */
.dgrid-column-resizer {
  position: absolute;
  width: 2px;
  background-color: #666;
  z-index: 1000;
}

/* line 343, ../sass/dgrid.scss */
.dgrid-resize-handle {
  height: 100px;
  width: 0;
  position: absolute;
  right: -4px;
  top: -4px;
  cursor: col-resize;
  z-index: 999;
  border-left: 5px solid transparent;
  outline: none;
}

/* line 355, ../sass/dgrid.scss */
.dgrid-resize-header-container {
  height: 100%;
}

/* line 359, ../sass/dgrid.scss */
html.has-touch .dgrid-resize-handle {
  border-left: 20px solid transparent;
}

/* line 363, ../sass/dgrid.scss */
html.has-touch .dgrid-column-resizer {
  width: 2px;
}

/* line 367, ../sass/dgrid.scss */
.dgrid-resize-header-container {
  position: relative;
}

/* line 371, ../sass/dgrid.scss */
.dgrid-header .dgrid-cell {
  overflow: hidden;
}

/* line 375, ../sass/dgrid.scss */
.dgrid-spacer-row {
  height: 0;
}

/* line 379, ../sass/dgrid.scss */
.dgrid-spacer-row th {
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  border-bottom: none;
}

/* line 386, ../sass/dgrid.scss */
.dgrid-status {
  padding: 2px;
}

/* line 390, ../sass/dgrid.scss */
.dgrid-pagination .dgrid-status {
  float: left;
}

/* line 394, ../sass/dgrid.scss */
.dgrid-pagination .dgrid-navigation,
.dgrid-pagination .dgrid-page-size {
  float: right;
}

/* line 399, ../sass/dgrid.scss */
.dgrid-navigation .dgrid-page-link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  padding: 0 4px;
}

/* line 407, ../sass/dgrid.scss */
.dgrid-first,
.dgrid-last,
.dgrid-next,
.dgrid-previous {
  font-size: 130%;
}

/* line 414, ../sass/dgrid.scss */
.dgrid-pagination .dgrid-page-disabled {
  color: #aaa;
  cursor: default;
}

/* line 419, ../sass/dgrid.scss */
.dgrid-page-input {
  margin-top: 1px;
  width: 2em;
  text-align: center;
}

/* line 425, ../sass/dgrid.scss */
.dgrid-page-size {
  margin: 1px 4px 0 4px;
}

/* line 429, ../sass/dgrid.scss */
.dgrid-rtl-swap .dgrid-header-row {
  right: 0;
  left: 17px;
}

/* line 434, ../sass/dgrid.scss */
.dgrid-rtl-swap .dgrid-header-scroll {
  left: 0px;
  right: auto;
}

/* line 439, ../sass/dgrid.scss */
.dgrid-rtl .dgrid-cell {
  text-align: right;
}

/* line 443, ../sass/dgrid.scss */
.dgrid-rtl .dgrid-sort-arrow {
  float: left;
  margin: 0 5px 0 4px;
}

/* line 448, ../sass/dgrid.scss */
.dgrid-rtl .ui-icon-triangle-1-e {
  background-position: -96px -16px;
}

/* line 452, ../sass/dgrid.scss */
.dgrid-rtl .ui-icon-triangle-1-se {
  background-position: -80px -16px;
}

/* line 456, ../sass/dgrid.scss */
.dgrid-rtl .dgrid-pagination .dgrid-status {
  float: right;
}

/* line 460, ../sass/dgrid.scss */
.dgrid-rtl .dgrid-pagination .dgrid-page-size {
  float: right;
}

/* line 464, ../sass/dgrid.scss */
.dgrid-rtl .dgrid-pagination .dgrid-navigation {
  float: left;
}

/* line 468, ../sass/dgrid.scss */
.dgrid-rtl.dgrid-autoheight .dgrid-header {
  left: 0;
}

/* line 472, ../sass/dgrid.scss */
.dgrid-scroller {
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.89);*/
}

/* line 475, ../sass/dgrid.scss */
.wcLayout .dgrid-cell {
  padding: 5px;
}

/* line 478, ../sass/dgrid.scss */
.dgrid-cell :focus {
  outline: 1px solid rgba(233, 132, 29, 0.53);
}

/* line 481, ../sass/dgrid.scss */
.dgrid-focus {
  outline: 1px solid rgba(233, 132, 29, 0.49);
  outline-offset: -2px;
}

/* line 485, ../sass/dgrid.scss */
.dgrid-tree-container .dgrid-focus {
  outline-offset: -2px !important;
}

/* line 488, ../sass/dgrid.scss */
html.has-webkit .dgrid *:focus,
html.has-mozilla .dgrid*:focus,
html.has-opera .dgrid *:focus {
  outline: 1px solid rgba(233, 132, 29, 0.55) !important;
}

/* line 493, ../sass/dgrid.scss */
html.has-webkit .dijitTreeNode *:focus,
html.has-mozilla .dijitTreeNode *:focus,
html.has-opera .dijitTreeNode *:focus {
  outline: 1px solid rgba(233, 132, 29, 0.57) !important;
}

/* line 498, ../sass/dgrid.scss */
html.has-mozilla .dgrid-focus,
html.has-webkit .dgrid-focus,
html.has-opera .dgrid-focus {
  outline-offset: -1px;
}
