/* line 1, ../sass/docker.scss */
.wcTabIcon {
  margin-right: 4px;
}

/* line 4, ../sass/docker.scss */
.wcPanelCloseIcon {
  text-align: right;
  margin-left: 4px;
  cursor: pointer;
  opacity: 0.5;
}

/* line 10, ../sass/docker.scss */
.wcModalBlocker {
  opacity: 0.8;
}

/* line 13, ../sass/docker.scss */
.wcFrameFlasher {
  background-color: white;
}

/* line 16, ../sass/docker.scss */
.wcFrameShadower {
  background-color: white;
}

/* line 19, ../sass/docker.scss */
.wcFrameTitleBar {
  height: 30px;
}

/* line 22, ../sass/docker.scss */
.wcFrameTitle {
  height: 30px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 3px;
  text-align: center;
}

/* line 29, ../sass/docker.scss */
.wcFrameButtonBar {
  height: 30px;
}

/* line 32, ../sass/docker.scss */
.wcFrameButton {
  border: none;
  font-size: 20px;
  height: 23px;
  width: 23px;
}

/* line 38, ../sass/docker.scss */
.wcFrameCenter {
  top: 30px;
}

/* line 41, ../sass/docker.scss */
.wcFrameEdge {
  position: absolute;
  z-index: 2;
  border: 2px outset #444;
  background-color: #222;
}

/* line 47, ../sass/docker.scss */
.wcSplitterBarV {
  transition: opacity 200ms ease;
  width: 7px;
}

/* line 51, ../sass/docker.scss */
.wcSplitterBarH {
  transition: opacity 200ms ease;
  height: 7px;
}

/* line 55, ../sass/docker.scss */
.wcSplitterBarStatic {
  width: 0px;
  height: 0px;
}

/* line 59, ../sass/docker.scss */
.wcGhost {
  background-color: #666;
  border: 2px dashed #c05801 !important;
  border-radius: 6px;
}

/* line 64, ../sass/docker.scss */
.wcLoadingBackground {
  background-color: #373737;
}

/* line 67, ../sass/docker.scss */
.wcLoadingIcon {
  color: #db6e12;
  font-size: 150px;
  position: absolute;
  top: calc(-50%);
  left: 50%;
  height: 150px;
}

/* line 75, ../sass/docker.scss */
.wcLoadingLabel {
  color: #db6e12;
}

/* line 78, ../sass/docker.scss */
.wcLoadingLabel:after {
  content: '. . .';
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
  0% {
    color: #db6e12;
  }
  25% {
    color: #ca6512;
  }
  50% {
    color: #b05812;
  }
  75% {
    color: #ca6512;
  }
  100% {
    color: #db6e12;
  }
}
@-moz-keyframes color-change {
  0% {
    color: #db6e12;
  }
  25% {
    color: #ca6512;
  }
  50% {
    color: #b05812;
  }
  75% {
    color: #ca6512;
  }
  100% {
    color: #db6e12;
  }
}
@-ms-keyframes color-change {
  0% {
    color: #db6e12;
  }
  25% {
    color: #ca6512;
  }
  50% {
    color: #b05812;
  }
  75% {
    color: #ca6512;
  }
  100% {
    color: #db6e12;
  }
}
@-o-keyframes color-change {
  0% {
    color: #db6e12;
  }
  25% {
    color: #ca6512;
  }
  50% {
    color: #b05812;
  }
  75% {
    color: #ca6512;
  }
  100% {
    color: #db6e12;
  }
}
@keyframes color-change {
  0% {
    color: #db6e12;
  }
  25% {
    color: #ca6512;
  }
  50% {
    color: #b05812;
  }
  75% {
    color: #ca6512;
  }
  100% {
    color: #db6e12;
  }
}
/*!
 * Web Cabin Docker - Docking Layout Interface.
 *
 * Dependancies:
 *  JQuery 1.11.1
 *
 * Version: git-master
 *
 * Author: Jeff Houde (lochemage@webcabin.org)
 * Web: http://docker.webcabin.org/
 *
 * Licensed under
 *   MIT License http://www.opensource.org/licenses/mit-license
 *   GPL v3 http://opensource.org/licenses/GPL-3.0
 *
 */
/* line 187, ../sass/docker.scss */
.wcTabLeft {
  -webkit-transform: rotate(90deg) scaleX(1);
  -webkit-transform-origin: left top;
  top: 0%;
  left: 30px;
  position: absolute;
}

/*
-webkit-transform: rotate(90deg) scaleX(1);
-webkit-transform-origin: left top;
top: 0%;
left: 5%;
position: absolute;
left: 46px;
*/
/* line 204, ../sass/docker.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0px;
}

/* line 212, ../sass/docker.scss */
.wcDisableSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* line 221, ../sass/docker.scss */
.wcModalBlocker {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -30;
}

/* line 230, ../sass/docker.scss */
.wcWide {
  width: 100%;
  left: 0px;
}

/* line 235, ../sass/docker.scss */
.wcTall {
  height: 100%;
  top: 0px;
}

/* line 240, ../sass/docker.scss */
.wcDocker {
  position: absolute;
  width: 100%;
  height: inherit;
  overflow: hidden;
}

/* line 247, ../sass/docker.scss */
.wcDockerTransition {
  opacity: 0;
}

/* line 251, ../sass/docker.scss */
.wcFrame {
  position: relative;
  /*overflow: hidden;*/
}

/* line 256, ../sass/docker.scss */
.wcFrameFlasher, .wcFrameShadower {
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
}

/* line 270, ../sass/docker.scss */
.wcFrameTitleBar {
  width: 100%;
  cursor: move;
  overflow: hidden;
  position: absolute;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* line 285, ../sass/docker.scss */
.wcFrameTitle {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 293, ../sass/docker.scss */
.wcFrameTitleBar.wcNotMoveable {
  cursor: default;
}

/* line 297, ../sass/docker.scss */
.wcCustomTabTitle {
  cursor: default !important;
}

/* line 301, ../sass/docker.scss */
.wcCustomTabMoveable {
  cursor: move !important;
}

/* line 305, ../sass/docker.scss */
.wcCustomTab {
  position: relative;
}

/* line 309, ../sass/docker.scss */
.wcTabScroller {
  height: 100%;
  width: 10000px;
  position: relative;
}

/* line 315, ../sass/docker.scss */
.wcFrameButtonBar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: auto !important;
}

/* line 322, ../sass/docker.scss */
.wcFrameButton {
  position: relative;
  float: right;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

/* line 331, ../sass/docker.scss */
.wcFrameButton > div {
  width: 100%;
}

/* line 335, ../sass/docker.scss */
.wcFrameCenter {
  overflow: hidden;
  position: absolute;
  /*top: 15px;*/
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 344, ../sass/docker.scss */
.wcFloating {
  position: fixed !important;
  z-index: 10;
}

/* line 349, ../sass/docker.scss */
.wcFloatingFocus {
  z-index: 20;
}

/* line 353, ../sass/docker.scss */
.wcModal {
  z-index: 40;
}

/* line 357, ../sass/docker.scss */
.wcLayout, .wcLayout tr, .wcLayout td {
  border: 0;
  /*
    margin: 0px;
  padding: 0px;*/
  border-spacing: 0;
}

/* line 366, ../sass/docker.scss */
.wcLayout {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
}

/* line 374, ../sass/docker.scss */
.wcFrameEdge {
  position: absolute;
  z-index: 2;
  border: 2px outset #444;
  background-color: #222;
}

/* line 381, ../sass/docker.scss */
.wcFrameEdgeV {
  width: 2px;
  cursor: ew-resize;
  border-top: 0px;
  border-bottom: 0px;
}

/* line 388, ../sass/docker.scss */
.wcFrameEdgeH {
  height: 2px;
  cursor: ns-resize;
  border-left: 0px;
  border-right: 0px;
}

/* line 395, ../sass/docker.scss */
.wcFrameCornerNW {
  height: 2px;
  width: 2px;
  cursor: nwse-resize;
}

/* line 401, ../sass/docker.scss */
.wcFrameCornerNE {
  height: 2px;
  width: 2px;
  cursor: nesw-resize;
}

/* line 407, ../sass/docker.scss */
.wcSplitterBar {
  z-index: 0;
  position: absolute;
  border: 1px outset darkgray;
}

/* line 413, ../sass/docker.scss */
.wcSplitterBarV {
  width: 4px;
  height: 100%;
  cursor: ew-resize;
}

/* line 419, ../sass/docker.scss */
.wcSplitterBarH {
  height: 4px;
  width: 100%;
  cursor: ns-resize;
}

/* line 425, ../sass/docker.scss */
.wcSplitterHidden {
  width: 0px !important;
  border: 0px !important;
  display: none !important;
}

/* line 431, ../sass/docker.scss */
.wcSplitterBarV.wcSplitterBarStatic {
  cursor: default !important;
}

/* line 435, ../sass/docker.scss */
.wcSplitterBarH.wcSplitterBarStatic {
  cursor: default !important;
}

/* line 439, ../sass/docker.scss */
.wcLayoutPane {
  border: 0px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  position: absolute;
}

/* line 448, ../sass/docker.scss */
.wcPanelTab {
  vertical-align: top;
  position: relative;
  display: inline-block;
  cursor: move;
  top: 0px;
}

/* line 456, ../sass/docker.scss */
.wcPanelTab.wcNotMoveable {
  cursor: default;
}

/* line 460, ../sass/docker.scss */
.wcTabLeft {
  -webkit-transform: rotate(90deg) scaleX(1);
  -ms-transform: rotate(90deg) scaleX(1);
  -moz-transform: rotate(90deg) scaleX(1);
  -o-transform: rotate(90deg) scaleX(1);
  transform: rotate(90deg) scaleX(1);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  top: 0%;
  left: 30px;
}

/* line 476, ../sass/docker.scss */
.wcTabLeft .wcFrameButton {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

/* line 489, ../sass/docker.scss */
.wcTabLeft .wcFrameButton span {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

/* line 502, ../sass/docker.scss */
.wcTabLeft .wcPanelTab > div {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* line 510, ../sass/docker.scss */
.wcTabRight {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  top: 0px;
  left: 100%;
}

/* line 525, ../sass/docker.scss */
.wcTabRight .wcFrameButton {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

/* line 538, ../sass/docker.scss */
.wcTabRight .wcFrameButton span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

/* line 551, ../sass/docker.scss */
.wcTabBottom {
  -webkit-transform: rotate(0deg) scaleX(1);
  -ms-transform: rotate(0deg) scaleX(1);
  -moz-transform: rotate(0deg) scaleX(1);
  -o-transform: rotate(0deg) scaleX(1);
  transform: rotate(0deg) scaleX(1);
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
  bottom: 0;
  position: absolute !important;
}

/* line 573, ../sass/docker.scss */
.wcTabBottom .wcFrameButton {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

/* line 586, ../sass/docker.scss */
.wcTabBottom .wcFrameButton span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

/* line 599, ../sass/docker.scss */
.wcTabBottom .wcPanelTab > div {
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}

/* line 607, ../sass/docker.scss */
.wcCollapseLeft.wcCollapsible,
.wcCollapseRight.wcCollapsed {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

/* line 621, ../sass/docker.scss */
.wcCollapseBottom.wcCollapsible {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

/* line 634, ../sass/docker.scss */
.wcCollapseBottom.wcCollapsed {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

/* line 647, ../sass/docker.scss */
.wcPanelTabContent {
  width: 100%;
  height: 100%;
}

/* line 652, ../sass/docker.scss */
.wcPanelTabContent.wcPanelTabContentHidden {
  display: none;
}

/* line 656, ../sass/docker.scss */
.wcResizing .wcHideOnResize .wcPanelTabContent {
  display: none;
}

/* line 660, ../sass/docker.scss */
.wcGhost {
  opacity: 0.0;
  position: fixed;
  z-index: 100;
  cursor: move;
}

/* line 667, ../sass/docker.scss */
.wcScrollableX {
  overflow-x: auto;
}

/* line 671, ../sass/docker.scss */
.wcScrollableY {
  overflow-y: auto;
}

/* line 675, ../sass/docker.scss */
.wcOverflowVisible {
  overflow: visible;
}

/* line 679, ../sass/docker.scss */
.wcTabIcon {
  display: inline-block;
  text-align: center;
}

/* line 684, ../sass/docker.scss */
.wcMenuIcon {
  display: inline-block;
  text-align: center;
}

/* line 689, ../sass/docker.scss */
.fa-menu {
  margin-left: -24px;
  width: 24px;
}

/* line 694, ../sass/docker.scss */
.context-menu-submenu:after {
  content: '' !important;
}

/* line 698, ../sass/docker.scss */
.wcMenuSubMenu {
  float: right;
}

/* line 702, ../sass/docker.scss */
.wcIFrame, .wcIFrame iframe {
  position: absolute;
  overflow: auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/* line 716, ../sass/docker.scss */
.wcIFrameFocus {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: none;
}

/* line 726, ../sass/docker.scss */
.wcDisableSelection .wcIFrameFocus {
  display: block;
}

/* line 730, ../sass/docker.scss */
.wcIFrame.wcDrawer {
  z-index: 6;
}

/* line 734, ../sass/docker.scss */
.wcIFrameFloating {
  z-index: 11;
}

/* line 738, ../sass/docker.scss */
.wcIFrameFloatingFocus {
  z-index: 21;
}

/* line 742, ../sass/docker.scss */
.wcIFrameHidden, .wcIFramePanelHidden {
  display: none;
}

/* line 746, ../sass/docker.scss */
.wcIFrameMoving {
  pointer-events: none;
}

/* line 750, ../sass/docker.scss */
.wcCollapserFrame {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 759, ../sass/docker.scss */
.wcDrawer {
  z-index: 5;
}

/* line 763, ../sass/docker.scss */
.wcCreatePanel {
  cursor: move;
}

/* line 767, ../sass/docker.scss */
.wcLoadingContainer, .wcLoadingBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 775, ../sass/docker.scss */
.wcLoadingContainer {
  z-index: 10;
}

/* line 779, ../sass/docker.scss */
.wcLoadingIconContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

/* line 787, ../sass/docker.scss */
.wcLoadingIcon {
  position: absolute;
  font-size: 200px;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  height: 195px;
}

/* line 795, ../sass/docker.scss */
.wcLoadingLabel {
  position: absolute;
  width: 100%;
  font-size: 100px;
  top: calc(50% + 100px);
  text-align: center;
}

/* line 803, ../sass/docker.scss */
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
