/* line 1, ../sass/Focus.scss */
.dgrid-cell :focus {
  outline: 1px solid #e9841d;
}

/* line 4, ../sass/Focus.scss */
.dgrid-focus {
  outline: 1px solid rgba(233, 132, 29, 0.61);
  outline-offset: -2px;
}

/* line 8, ../sass/Focus.scss */
.dgrid-tree-container .dgrid-focus {
  outline-offset: -2px !important;
}

/* line 11, ../sass/Focus.scss */
html.has-webkit .dgrid *:focus,
html.has-mozilla .dgrid*:focus,
html.has-opera .dgrid *:focus {
  outline: 1px solid #e9841d !important;
}

/* line 16, ../sass/Focus.scss */
html.has-webkit .dijitTreeNode *:focus,
html.has-mozilla .dijitTreeNode *:focus,
html.has-opera .dijitTreeNode *:focus {
  outline: 1px solid #e9841d !important;
}

/* line 21, ../sass/Focus.scss */
html.has-mozilla .dgrid-focus,
html.has-webkit .dgrid-focus,
html.has-opera .dgrid-focus {
  outline-offset: -1px;
}
