/* line 2, ../sass/xideve.scss */
.cssPropertySection .selectize-input {
  padding: 3px;
  min-height: initial;
  white-space: pre-line;
}
/* line 8, ../sass/xideve.scss */
.cssPropertySection .selectize-control.single .selectize-input:after {
  right: 4px;
}

/* line 12, ../sass/xideve.scss */
.propertyDisplayName {
  font-size: 13px;
}

/* line 16, ../sass/xideve.scss */
.cascadeBackButtonDiv BUTTON {
  background-color: inherit;
}
