/***

  Awesome LESS macros to generate cross browser CSS

*/
/***
  Layout - Macros
*/
/***
  Macros zum erstellen von Rahmen
*/
/***
  Macros fuer geometrische Operationen
*/
/***
  Effect Macros
*/
/***
  Macros fuer Highlighting bei Feedbacks
*/
/***
  Text - Macros
*/
/***
  Text - Macros
*/
/***
  Macros fuer Hintergrund-Sprites
*/
/***  Background-Sprite with different width & height*/
/***
  Background - Color - Transparent Overlay
*/
/***
  Shadow - Macro
*/
/***
    Image related
*/
/***
  Pure Class Macros
*/
/***
  LOW-LEVEL : Macros zum animieren von CSS Eigentschaften
*/
/***
  LOW-LEVEL : Macros zum erstellen von Gradients
*/
/**
  Text-Font-Size Macros
**/
/***   Text - Colors   ***/
/***   Colors   ***/
/***
  Default-Text Margins and Paddings
*/
/*** Border-Colors ***/
/***
  Highlight Colors
*/
/***
  Shadows
*/
/***
  Buttons
*/
/***
  Standard-Background-Color for Toolbars
*/
/***
  Dojo - Internals
*/
.debugSettingsDialog {
  min-height: 400px;
  min-width: 400px;
}
.debugSettingsDialog .dijitTitlePaneContentInner {
  max-height: 400px;
  overflow-y: auto;
}
.debugSettingsView .dijitContentPane {
  overflow: hidden;
}
.debugSettingsView LABEL {
  color: #ffffff;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-weight: normal;
  text-align: left;
  /*line-height: @line-height-computed;*/
  margin: 0.2em;
  display: block;
}
.debugSettingsView .labelRoot {
  margin: 0.2em;
}
.debugSettingsDialog .dijitTextBox {
  width: 100%;
}
.debugSettingsDialog .dijitDialogPaneContent {
  /*height: inherit !important;*/
}
.debugSettingsDialog .dijitDialogPaneContent {
  /*height: inherit !important;*/
}
.fileDebugButton {
  background-image: url("images/library.png");
  background-size: 100% 100%;
  cursor: pointer;
  height: 18px;
  width: 18px;
}
