@import "ConsoleView.css";
@import "../commons/bootstrap.css";
@import "../json_editor/jsoneditor.css";
@import "../xide/Wizard.css";
@import "Icons.css";
@import "../commons/Widgets.css";
@import "../commons/Loading.css";
/*@import "../commons/Ribbon.css";*/
@import "../xfile/fileGridView.css";
@import "../xfile/quicklook.css";
@import "../ribbon/dhtmlxribbon_material.css";

.row-odd {
    background: #f2f7e8;
}

.iconStatusOff {
    color: red;
}

.iconStatusOn {
    color: #008000;
}

.iconStatusBusy {
    background-image: url("images/console_spinner_proc.gif");
    background-size: 100% 100%;
    height: 15px;
    width: 15px;
}
