.conditionalResponseSettings {
  overflow: hidden;
}
.conditionalResponseSettings .dijitValidationTextBox {
  width: inherit;
  color: black;
}
.conditionalResponseSettings .dijitTextBox {
  width: inherit;
}
.conditionalResponseSettings .dijitTitlePaneTitleFocus {
  float: left;
  margin-top: 8px;
  margin-left: 8px;
}
.conditionalResponseSettings .actionTogglePaneHeader {
  padding: 0 7px 3px;
}
.conditionalResponseSettings .dijitTitlePane {
  height: inherit;
}
.conditionalResponseSettings .conditionalResponseGridView {
  padding: 0px;
  min-height: 400px;
}
.conditionalResponseSettings .basicCommandsGridView {
  padding: 0px;
  min-height: 400px;
}
.conditionalResponseSettings .field-gui {
  width: 25px;
  text-align: center;
}
.conditionalResponseSettings .field-cmd {
  width: 55px;
  text-align: center;
}
.conditionalResponseSettings .field-save {
  width: 25px;
  text-align: center;
}
.conditionalResponseSettings .field-type {
  width: 60px;
}
.conditionalResponseSettings .field-title {
  width: 25%;
  padding-left: 10px;
}
.conditionalResponseSettings .field-initialize {
  width: 105px;
}
.conditionalResponseSettings .dgrid-column-0-3 {
  text-align: center;
}
.responseSettings .processVariableGridView {
  padding: 0px;
  min-height: 400px;
}
.responseSettings .processVariableGridView .dijitValidationTextBox {
  width: inherit;
  color: black;
}
.responseSettings .processVariableGridView .dijitTextBox {
  width: 100%;
}
.responseSettings .processVariableGridView .dijitTitlePaneTitleFocus {
  float: left;
  margin-top: 8px;
}
.responseSettings .processVariableGridView .field-title {
  width: 25%;
  padding-left: 5px;
}
.responseSettings .processVariableGridView .field-value {
  width: 50%;
  padding-left: 5px;
}
.responseSettings .processVariableGridView .field-target {
  width: 25%;
  padding-left: 15px;
}
