.variableSettings {
  color: white;
  overflow: hidden;
}
.variableSettings .dgrid-header {
  font-size: 80%;
}
.variableSettings .dgrid-cell {
  border-right: 1px solid #ddd !important;
}
.variableSettings .dgrid-header {
  /*
  background: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );
  */
}
.variableSettings .dijitValidationTextBox {
  width: inherit;
  color: black;
}
.variableSettings .dijitTextBox {
  width: 100%;
}
.variableSettings .dijitTitlePaneTitleFocus {
  float: left;
  margin-top: 8px;
}
.variableSettings .actionTogglePaneHeader {
  min-height: 26px;
  padding: 0 7px 3px;
}
.variableSettings .dijitTitlePane {
  height: inherit;
}
.variableSettings .variablesGridView {
  padding: 0px;
  min-height: 400px;
}
.variableSettings .field-gui {
  width: 10%;
  text-align: center;
}
.variableSettings .field-cmd {
  width: 55px;
  text-align: center;
}
.variableSettings .field-save {
  width: 10%;
  text-align: center;
}
.variableSettings .field-value {
  width: 33%;
}
.variableSettings .field-title {
  width: 50%;
  padding-left: 15px;
}
.variableSettings .field-initialize {
  width: 25%;
}
.variableSettings .dgrid-column-0-3 {
  text-align: center;
}
