/***

  Awesome LESS macros to generate cross browser CSS

*/
/***
  Layout - Macros
*/
/***
  Macros zum erstellen von Rahmen
*/
/***
  Macros fuer geometrische Operationen
*/
/***
  Effect Macros
*/
/***
  Macros fuer Highlighting bei Feedbacks
*/
/***
  Text - Macros
*/
/***
  Text - Macros
*/
/***
  Macros fuer Hintergrund-Sprites
*/
/***  Background-Sprite with different width & height*/
/***
  Background - Color - Transparent Overlay
*/
/***
  Shadow - Macro
*/
/***
    Image related
*/
/***
  Pure Class Macros
*/
/***
  LOW-LEVEL : Macros zum animieren von CSS Eigentschaften
*/
/***
  LOW-LEVEL : Macros zum erstellen von Gradients
*/
/**
  Text-Font-Size Macros
**/
/***   Text - Colors   ***/
/***   Colors   ***/
/***
  Default-Text Margins and Paddings
*/
/*** Border-Colors ***/
/***
  Highlight Colors
*/
/***
  Shadows
*/
/***
  Buttons
*/
/***
  Standard-Background-Color for Toolbars
*/
/***
  Dojo - Internals
*/
.widgetTitle {
  min-width: 75px!important;
}
.button .disabled {
  opacity: 1.0;
  pointer-event: none;
  font-weight: normal !important;
  font-style: normal;
}
.fileManagerDialogText {
  font-size: 18px;
}
.fileOperationDialog LABEL {
  /*font-size: 18px;*/
  margin: 4px;
  /*color: #FFFFFF;*/
  float: left;
  /*line-height: 0.9em;*/
}
/****/
.xfileContainerEmbedded {
  padding: 0px !important;
  height: inherit;
}
.claro .dijitAccordionContainer .dijitAccordionContainer-child {
  padding: 0px !important;
}
.dijitAccordionContainer .dijitTab {
  /*background-color: #000000;*/
}
.claro .dijitTabContainerBottom-tabs .dijitTab {
  /*background: url("../../../images/xas/console-tab-btn-curr.png") repeat-x scroll 0 0 #1D1D1D;*/
}
.dijitReadOnly *,
.dijitDisabled *,
.dijitReadOnly,
.dijitDisabled {
  cursor: default;
  /*opacity: 0.5;*/
}
.claro .dijitButtonDisabled,
.claro .dijitDropDownButtonDisabled,
.claro .dijitComboButtonDisabled,
.claro .dijitToggleButtonDisabled {
  /*opacity: 0.5;*/
}
.welcomePane {
  /*background-color: @default-container-background-color;*/
}
.claro .dijitBorderContainer-dijitContentPane {
  /*background-color: @default-container-background-color;*/
  /*background-image: none ;*/
  /*padding: 0px !important;*/
}
.claro .dijitSplitContainer-dijitContentPane,
.claro .dijitBorderContainer-dijitContentPane {
  /*background-color: transparent;
  background-image: none;*/
  padding: 8px;
}
.xasMain tr,
td,
table {
  border: 0px solid #DDDDDD !important;
}
table {
  border: 0px solid #DDDDDD !important;
}
.ui-widget {
  /*font-size: 1em !important;*/
}
.claro .dijitToolbar {
  border-bottom: 0px solid #DDDDDD !important;
}
.bottomTabLog {
  overflow: auto;
}
.dijitTreeIcon {
  vertical-align: inherit;
}
.dijitTreeExpando {
  vertical-align: inherit;
}
.aceCSSEditor {
  /*background-color: #fffff0;*/
  height: inherit;
  padding: 0px !important;
  min-height: 400px;
}
/*
.ace_editor, .ace_editor *
{

  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}
  */
