/***

  Awesome LESS macros to generate cross browser CSS

*/
/***
  Layout - Macros
*/
/***
  Macros zum erstellen von Rahmen
*/
/***
  Macros fuer geometrische Operationen
*/
/***
  Effect Macros
*/
/***
  Macros fuer Highlighting bei Feedbacks
*/
/***
  Text - Macros
*/
/***
  Text - Macros
*/
/***
  Macros fuer Hintergrund-Sprites
*/
/***  Background-Sprite with different width & height*/
/***
  Background - Color - Transparent Overlay
*/
/***
  Shadow - Macro
*/
/***
    Image related
*/
/***
  Pure Class Macros
*/
/***
  LOW-LEVEL : Macros zum animieren von CSS Eigentschaften
*/
/***
  LOW-LEVEL : Macros zum erstellen von Gradients
*/
/**
  Text-Font-Size Macros
**/
/***   Text - Colors   ***/
/***   Colors   ***/
/***
  Default-Text Margins and Paddings
*/
/*** Border-Colors ***/
/***
  Highlight Colors
*/
/***
  Shadows
*/
/***
  Buttons
*/
/***
  Standard-Background-Color for Toolbars
*/
/***
  Dojo - Internals
*/
#xFilePickerContentRoot {
  padding: 0px !important;
}
.filePickerDialog .ui-dialog-buttonpane {
  margin-top: 0.1em !important;
  padding: 0 0.1em 0.1em !important;
}
.filePickerDialog ui-dialog-titlebar {
  padding: 0.2em 0.8em !important;
}
.filePickerDialog .fileGridView {
  background-color: transparent !important;
}
.filePickerDialog .fileGridViewCompact .gallery .dgrid-row {
  overflow: hidden;
}
